.github/**
.vscode/**
.vscode-test/**

.gitignore
package-lock.json
prepare-release.js

config/**
test/**
src/**
!src/assets/**
tsconfig.json
tslint.json
coverage/**

__snapshots__/**

*.vsix
out/test/**
